{% extends "base.html" %}

{% block title %} About Opportunity* {% endblock %}

{% block main %}
    <div class="about-card grid two-columns">
        <section id="about-us">
            <div class="about-title">
                <h1>Opportunity*</h1>
                <rt>/ɑpoɹtunɪti.stɑɹ/</rt>
            </div>
            <div class="about-text">
                <p class="margin-top">
                Every person is a star in a connected constellation.
                </p>
                <p class="margin-top">
                    The star after opportunity is inspired by the inclusive identity marker of “women*” which includes all women-identifying individuals and gender minorities. It comes out of the ethos of including those that are all too often excluded.
                </p>
                <p class="margin-top">
                    Systemically, those with minority identities (in gender, sexuality, race, ethnicity, culture, disability, neurodiversity, and more) have lower access to opportunities, spaces, and communities. We want to change that. We believe in a future in which every star can shine brightly and be connected to a constellation of opportunities that are built for them.
                </p>
            </div>
        </section>
        <section id="our-principles">
            <div class="principle-item">
                <h2 class="uppercase">Vision</h2>
                <p>To connect minority students with STEM opportunities.</p>
            </div>
            <div class="principle-item">
                <h2 class="uppercase">Mission</h2>
                <p>To create a constellation where all stars can shine.</p>
            </div>
            <div class="principle-item">
                <h2 class="uppercase">Values</h2>
                <ul class="value-list">
                    <li>inclusivity</li>
                    <li>accessibility</li>
                    <li>inspiration</li>
                    <li>connection</li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
